/* File Uploader Styles  */


.file-uploader-wrap {
  position: relative;
  border: solid 1px #b4b4b4;
  border-radius: 10px;
  height: 110px;
  /* padding: 0 0.5em; */
}

label{
  margin: 0;
}

.uploader input {
  display: none;
}

.uploader {
  position: relative;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  /* width: 100%; */
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  /* border-radius: 10px; */
  object-fit: cover;
  
}

.uploader img,
.uploader .icon {
  pointer-events: none;
  /* border-radius: 10px; */
}

.uploader,
.uploader .icon {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.uploader .icon {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 5em;
}

.uploader .doc-img {
  left: 50%;
  opacity: 0;
  /* max-height: 100%;
  max-width: 100%; */
  position: absolute;
  /* width: 100%; */
  height: 100%;
  top: 50%;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.uploader .doc-img.loaded {
  opacity: 1;
  max-width: 90%;
}
